.keypad {
    position: fixed;
    right: 15px;
    bottom: 63px;
    left: 15px;
}

.keypad button {
    height: 70px;
    width: 100%;
}

.wrapper {
    margin-top: 10px;
}

.pad-bottom {
    padding-bottom: 63px;
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}

.div-link {
    cursor: pointer;
    user-select: none;
}