html, body {
    height: 100%;
}

body {
    /* Disables pull-to-refresh but allows overscroll glow effects */
    overscroll-behavior-y: contain;
}

.wrapper {
    margin-top: 10px;
}

.pad-bottom {
    padding-bottom: 63px;
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}

.div-link {
    cursor: pointer;
    user-select: none;
}