.wrapper {
    margin-top: 10px;
}

.pad-bottom {
    padding-bottom: 63px;
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}

.div-link {
    cursor: pointer;
    user-select: none;
}