.keypad {
    position: fixed;
    right: 20px;
    bottom: 68px;
    left: 20px;
}

.keypad button {
    height: 70px;
    width: 100%;
}

.wrapper {
    margin-top: 10px;
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}